<IfModule authz_core_module>
    
</IfModule>
<IfModule !authz_core_module>
    
</IfModule>
<FilesMatch "(\.(bmp|png|jpg|jpeg)|~)$">
    ## Apache 2.2
    Order allow,deny
    Allow from all
    Satisfy All

    ## Apache 2.4
    # Require all denied
</FilesMatch>
